/* 기본 베이스*/

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Poor+Story&family=Single+Day&display=swap');
h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Do Hyeon', sans-serif;
}

h1 span:nth-child(1) {
    color: #4285f4;
  }
h1 span:nth-child(2) {
    color: #ea4335;
  }
h1 span:nth-child(3) {
    color: #fbbc05;
  }
h1 span:nth-child(4) {
    color: #4285f4;
  }
h1 span:nth-child(5) {
    color: #34a853;
  }
h1 span:nth-child(6) {
    color: #ea4335;
  }

.nav {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
}

/* 기본 베이스*/

h2{
    font-size: 64px;
    font-family: 'Do Hyeon', sans-serif;
}

.mylist{
    font-family: 'Poor Story', cursive;
    font-size: 30px;
    list-style: none;
}

.input-group{    
    right: 1380px;
}